
<div class="container">
    <div class=".col-xs-6">
        <button type="button" class="btn btn-default btn-lg" aria-label="Center Align">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
        <div class="list-group">
            <a class="list-group-item"> <p class="text-right">Groupe 1 </p></a>
            <a class="list-group-item"> <p class="text-right">Groupe 2</p></a>
            <a class="list-group-item"><p class="text-right">Groupe 3</p></a>
            <a class="list-group-item"> <p class="text-right">Groupe 4 </p></a>
        </div>
    </div>
</div>