<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Fridge Temperature</title>
    <link href="css/style.css" rel="stylesheet" />
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../bower_components/angular/angular.js"></script>

    <!-- ngsrcmodules -->
    <!-- ngsrc -->
</head>
<body ng-app="myApp">


<!--<menu id="menu">
    <div id="firstMenu">
        <p id="pseudo">{{pseudo}}</p>
        <img id="settingIcon" src="images/settingIcon.png">
    </div>
</menu>-->

<main ng-controller="charts">
    <canvas id="line" class="chart chart-line"
            width="400" height="200"
            chart-data="data" chart-labels="labels"
            chart-legend="true" chart-series="series">
    </canvas>
</main>

<script src="//localhost:35729/livereload.js"></script>
</body>
</html>